/* for navbar text to be white */
.navbar-toggler {
    border-color: white;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 255%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* to align the clubs in center  */
.club-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.club-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Ensure the parent container is centered */
.carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer styles */
footer {
    background-color: #1B3058;
    color: white;
    padding: 10px 0;
    text-align: center;
}